### In this section, we will explain how we obtained our stock data from yahoo finance

In [1]:
# All the necessary imports
import pandas as pd
import numpy as np
from pandas_datareader.data import DataReader
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

## Import stock data from yahoo finance

In [2]:
# For this demonstration, we will try to get the stocks of Google from yahoo finance
company_name = 'Google'

In [3]:
# But first, we will need its ticker symbol that we can get from our dataset Ticker2-finder-Excel.xlsx
data = pd.read_excel(r'Dataset_Needed\\Ticker2-finder-Excel.xlsx')
df_Symbol = pd.DataFrame(data, columns= ['Symbol'])
symbols = df_Symbol.to_numpy().flatten()
df_Name = pd.DataFrame(data, columns= ["Name"])
names = df_Name.to_numpy().flatten()

In [4]:
ticker = ""
for i in range(len(names)):
    if company_name in names[i]:
        ticker = symbols[i]
        break
ticker

'GOOG'

In [5]:
# Now that we have our ticker symbol, we can import yahoo finance data for 10 years as follows
end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)
globals()[ticker] = DataReader(ticker, 'yahoo', start, end)

In [6]:
# We need to use ticker as a variable in order to be able to retrieve the necessary informations
ticker = locals()[ticker]

In [7]:
ticker.describe()

,High,Low,Open,Close,Volume,Adj Close
count,252.000000,252.000000,252.000000,252.000000,2.520000e+02,252.000000
mean,2503.090988,2459.121552,2479.935837,2482.520952,1.271083e+06,2482.520952
std,379.941997,378.052056,380.886908,379.164855,4.928485e+05,379.164855
min,1746.000000,1699.000000,1702.630005,1728.239990,3.468000e+05,1728.239990
25%,2130.100037,2093.449890,2100.847412,2113.212524,9.461000e+05,2113.212524
50%,2544.664917,2516.223022,2530.719971,2529.165039,1.153300e+06,2529.165039
75%,2850.552490,2810.734985,2820.257446,2832.645081,1.420500e+06,2832.645081
max,3037.000000,2997.750000,3020.000000,3014.179932,4.118200e+06,3014.179932